@import '../../mixins.scss';

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.header {
  @include navbar-margins-a;
  &__subtitle {
    @include header-subtitle-a;
  }
}

.container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

.progress-info {
  align-self: center;
  position: relative;
  width: 162px;
  height: 162px;

  &__spinner circle {
    stroke-width: 10px;
    fill: transparent;
    transform-origin: center;
    transition: stroke-dashoffset 225ms linear;
  }

  &__spinner .animated_indicator {
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  &__title,
  &__spinner {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__title {
    width: 162px;
    height: 162px;
    display: flex;
    align-items: center;
  }

  &__title > div {
    width: 100%;
    text-align: center;
    color: $color-white;
    font-family: $font-bmw;
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
  }
}

.connection-info {
  $icon-size: 16px;
  $icon-title-margin: 8.5px;

  margin-top: 50px;
  padding-right: 45px;
  padding-left: 35px;
  font-family: $font-arial;
  font-size: 13px;
  color: $color-white;
  line-height: 16px;

  &__header {
    display: flex;
  }

  & > img {
    width: $icon-size;
    height: $icon-size;
  }

  &__title {
    font-weight: bold;
    margin-left: $icon-title-margin;
  }

  &__description {
    margin-top: 8px;
    padding-left: #{$icon-size + $icon-title-margin};
  }

}

@media screen and (min-height: $height-iphone-6-bordered) {
  .container {
    justify-content: flex-end;
    margin-bottom: 76px;
  }
}

@media screen and (min-height: $height-iphone-6) {
  .container {
    justify-content: flex-end;
    margin-bottom: 121px;
  }
}

