:host {
  width: 100%;
}

.title {
  font-weight: bold;
  margin-bottom: 5px;
}

.content {
  display: flex;
  flex-direction: column;
}

.description__item {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
