.shipment-docs-shipment-documents {
  padding: 14px 12px;
  border: 1px solid #EBEDF0;
  border-radius: 4px;

  &__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2.5em 0;
    background: #fffc;
    z-index: 2000;
    border: 1px solid #EBEDF0;
    border-radius: 4px;
    color: #98a0a5;
  }

  &__overlay-drag-img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }

  &__overlay-text {
    font-size: 12.8px;
    font-weight: 400;
    margin-right: 8px;
  }

  &__header {
    font-size: 16px;
    line-height: 1.1875;
    margin-bottom: 10px;
    color: #98a0a5;
    font-weight: 300;
  }

  &__general-info-table {
    display: flex;
    flex-wrap: wrap;
  }

  &__general-info-table-column {
    width: 25%;
    margin-bottom: 40px;

    @media (max-width: 1024px) {
      width: 50%;
    }

    @media (max-width: 810px) {
      width: 100%;
    }
  }

  &__general-info-table-column-title {
    font-size: 12.8px;
    line-height: 15.2px;
    color: #98a0a5;
    font-weight: 300;
    margin-bottom: 8px;
  }

  &__general-info-table-column-value {
    font-size: 16px;
    color: #555;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__documents-list {
    padding: 14px 12px;
    margin-bottom: 14px;
    border: 1px solid #EBEDF0;
    border-radius: 4px;
  }

  &__documents-list-header-column {
    display: flex;
  }

  &__documents-list-column {
    display: flex;
    min-height: 35px;
    padding: 8px 0;
    border-bottom: 1px solid #EBEDF0;
  }

  &__documents-list-value-header {
    width: 25%;
    margin-bottom: 8px;
    padding-right: 5px;
    box-sizing: border-box;
    font-size: 12.8px;
    line-height: 15.2px;
    color: #98a0a5;
    font-weight: 300;

    &--upload-date {
      width: 110px;
      min-width: 110px;
    }
  }

  &__documents-list-container {
    margin: 0;
    padding: 0;

    & li:first-child {
      padding-top: 0;
    }

    & li:last-child {
      padding-bottom: 0;
      border: none;
    }

    & li:first-child:last-child {
      padding: 8px 0;
      border: none;
    }
  }

  &__documents-list-value-doc-type,
  &__documents-list-value-doc-id,
  &__documents-list-value-upload-date,
  &__documents-list-value-description,
  &__documents-list-value-move-to-container {
    padding-right: 5px;
    box-sizing: border-box;
    margin: auto 0;
  }

  &__documents-list-value-doc-type {
    width: 25%;
    font-size: 16px;
    color: #555;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__selector-button.mui-override {
    width: 100%;
    max-width: 265px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
  }

  &__documents-list-value-doc-id {
    width: 25%;
    font-size: 16px;
    color: #1b2538;
    font-weight: 400;
    word-break: break-all;
    text-decoration: underline;
  }

  &__documents-list-value-upload-date {
    width: 110px;
    min-width: 110px;
    font-size: 16px;
    color: #1b2538;
    font-weight: 400;
  }

  &__documents-list-value-description {
    width: 25%;
    font-size: 16px;
    color: #3d92bf;
    font-weight: 400;
    overflow: hidden;
  }

  &__documents-list-value-description-tooltip-area {
    max-width: fit-content;
    text-decoration: underline;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__documents-list-value-move-to-container {
    width: 25%;
  }

  &__documents-list-value-control-buttons {
    width: 45px;
    min-width: 45px;
    text-align: right;

    & :last-child {
      margin-right: 0;
    }
  }

  &__documents-list-icon {
    margin-right: 8px;
    font-size: 12px;
    color: #B6BFC4;
    font-weight: 300;
    cursor: pointer;

    &:hover {
      color: #333;
    }
  }

  &__upload-files {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 16px;
    border: 1px solid #EBEDF0;
    border-radius: 4px;
    color: #98a0a5;
  }

  &__upload-files-text {
    font-size: 12.8px;
    font-weight: 400;
    margin-right: 8px;
  }

  &__upload-files-button.mui-override {
    border: 1px solid #ebedf0;
    padding: 6px 12px;

    &:hover {
      background-color: #e9e9e9;
    }
  }

  &__value-tooltip.mui-override {
    font-size: 14px;
    background-color: #fff;
    color: #555;
    border: 1px solid #EBEDF0;
    word-break: break-all;
    position: relative;
    top: -5px;

    &::before, &:after {
      content: '';
      position: absolute;
      left: calc(50% - 5px);
      top: -20px;
      border: 10px solid #0000;
      border-bottom: 10px solid #EBEDF0;
    }

    &:after {
      border-bottom: 10px solid #fff;
      top: -19px;
    }
  }
}
