<div class="container">
  <div class="fancy-header fancy-header--black">
    <div class="final-message__title">
      Thank you
    </div>
    <div class="final-message__title fancy-header__title--blue">
      {{username}}
    </div>
  </div>

  <div class="final-message">
    <div class="fancy-quote fancy-quote--left">
      <img
        class="fancy-quotes__left-quote"
        src="/assets/svg/quote.svg"
      >
    </div>
    <div class="fancy-quote fancy-quote--right">
      <img
        class="fancy-quotes__right-quote"
        src="/assets/svg/quote.svg"
      >
    </div>

    <div class="final-message__description">
      We have received your feedback. Our product managers will review your feedback and get back to you!
    </div>

    <div class="final-message__signature">
        <div class="final-message__signature--bold">
          Max Power
        </div>
        <div class="final-message__signature">
          Chief Product Manager, BMW
        </div>
    </div>
    <div class="final-message__footer">
      <a
        class="fancy-button fancy-button--full-width"
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.bmw.com/de/bmw-models.html"
      >
        Discover the BMW World
    </a>
    </div>
  </div>
</div>

<div class="wallpaper"></div>

