@import '../../../../../mixins.scss';

$popup-bg: #FCFCFC;
$button-color: #007AFF;
$popup-border-radius: 1px;
$popup-border-color: rgba(77,77,77, 0.3);

.popup-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: $popup-bg;
  color: $color-black;
  max-width: 70%;
  font-family: $font-arial;
  border-radius: 12px;
  opacity: 0.87;

  &__content {
    padding: 20px 15px;
    border-bottom: $popup-border-radius solid $popup-border-color;
  }

  &__content > div,
  &__button {
    text-align: center;
  }

  &__title {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  &__description {
    font-size: 13px;
  }
  
  &__buttons {
    display: flex;
  }
  
  &__button {
    cursor: pointer;
    flex-grow: 1;
    padding: 10px 0;
    border-right: $popup-border-radius solid $popup-border-color;
    color: $button-color;
    font-weight: bold;
    font-size: 15px;
  }
  
  &__button:active {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  &__button--danger {
    font-weight: normal;
  }
  
  &__button:last-child {
    border-right: none;
  }
}

