@import 'assets/styles/colors';

/* eslint-disable no-param-reassign */
.forgot-password-link {
  text-align: left;
  display: flex;
  align-items: center;
}

.form-wrapper {
  width: 20rem;
  border-radius: 10px;
  background-color: var(--the-black-flag);

.form {
  width: 100%;

.heading {
  opacity: 0.8;
}
.form-inner {
  display: flex;
  justify-content: space-between;
}
form {
  width: 100%;

.input-wrapper__sign-in {
  max-width: 45%;
}

.input {
  position: relative;
  display: inline-block;
  margin: 10px 0 0;

input {
  margin: 15px 0;
  padding: 9px 12px;
  border: none;
  border-bottom: 1px solid var(--brand-white);
  border-radius: 0;
  outline: none;
  background-color: transparent;
  color: #fff;
  font-size: 1.1em;

&::placeholder {
   color: rgba(255, 255, 255, 0.4);
 }

&:-ms-input-placeholder {
   color: rgba(255, 255, 255, 0.4);
 }

/* stylelint-disable-next-line */
&::-ms-input-placeholder {
   color: rgba(255, 255, 255, 0.4);
 }
}

.error {
  position: absolute;
  bottom: -4px;
}
}
.panel-wrapper {
  display: flex;
  justify-content: space-between;
}
.action-buttons {
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 0.8125em;

button {
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  outline: none;
  background: linear-gradient(#fbbe01, #fda102);
  color: #0d245c;
  font-weight: bold;
  cursor: pointer;
}

.login {
a {
  color: #fcbe00;
  text-decoration: none;
}

@media (min-width: 992px) and (max-width: 1080px) {
  margin-left: 5px !important;
}
}
}
}

@media (min-width: 992px) {
  padding-right: 1.4rem;
}
}

.invite {
  padding: 0 40px;
  background-color: rgba(255, 255, 255, 0.1);

.invite-text {
  font-size: 0.8125em;
  text-align: center;
}

@media (min-width: 992px) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (max-width: 992px) {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
}
}
/* eslint-enable no-param-reassign */
