.login-page {
  &__description.mui-override {
    font-size: 13px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.62;
    letter-spacing: normal;
    color: #818181;
    margin-top: 32px;
  }

}