<div
  class="chat-input"
  [style.visibility]="!hide ? 'visible' : 'hidden'"
>
  <div class="chat-input__input">
    <textarea
      id="message"
      appAutosize
      [maxHeight]="90"
      [(ngModel)]="message"
      (keyup.enter)="onInputKeyupEnter()"
      [appFocus]="focus"
      placeholder="Type message..."
    ></textarea>
  </div>
  <div
    class="chat-input__send-button"
  >
    <button
      id="send"
      class="send-button"
      (click)="onSendPress()"
    >
      <mat-icon class="send-icon">send</mat-icon>
    </button>
  </div>
</div>