@import "../../assets/styles/mediaSettings";
$gray-color: #98a0a5;
$green-color: #009886;
$green-color2: #05ceb6;
$disabled-color: #555;
$error-color: #f44336;

.contact-select__menu {
  li {
    &:hover {
      background-color: #d9f6f3;
    }
  }
}

.shipping-instructions {
  padding: 15px;
  border: 1px solid #EBEDF0;
  border-radius: 4px;

  &__status {
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 14px;

    &.valid {
      border: 1px solid $green-color2;
      color: $green-color2;
      .invalid-content {
        display: none;
      }
    }

    &.invalid {
      border: 1px solid $error-color;
      color: $error-color;
      .valid-content {
        display: none;
      }
    }
  }

  &__form {
    .instructions-form {
      width: 100%;
      color: $gray-color;
      position: relative;
      &__title {
        font-weight: 100;
        margin: 10px 0;
      }

      &__content {
        padding: 10px;
        border: 1px solid #ebedf0;
        border-radius: 3px;
        position: relative;
        color: black;

        .form-field {
          .first-field {
            margin: 0;
            width: 60%;
            input {
              font-family: "Exo 2", sans-serif;
              width: 90% !important;
              flex-grow: 0;
              @media screen and (max-width: $small-screen-width){
                width: 80% !important;
              }
              @media screen and (max-width: $mobile-screen-width){
                width: 70% !important;
              }
            }
          }

          .half-width {
            width: 60%;
          }

          .label {
            font-family: "Exo 2", sans-serif;
            color: $disabled-color;
            &.focused {
              color: $green-color2;
            }
          }

          .contact-select {
            position: relative;
            .icon {
              position: absolute;
              right: 41%;
              top: 25px;
              z-index: 999;
              cursor: pointer;
              color: $gray-color;

              &:hover {
                color: black;
              }
            }
          }

          div.focused {
            &:after {
              border-bottom: 2px solid $green-color2;
            }
          }

          .input.disabled{
            &:before{
              border-bottom: 1px solid
            }
          }

          .changed {
            .label {
              &.error {
                color:  $error-color !important;
              }
            }

            .error {

              &:after {
                border-bottom: 2px solid $error-color !important;
              }
              &:before {
                border-bottom: 1px solid $error-color !important;
              }
              &:hover {
                &:before {
                  border-bottom: 2px solid $error-color !important;
                }
              }
            }

            .input {

              &:after {
                border-bottom: 2px solid $green-color2;
              }
              &:before {
                border-bottom: 1px solid $green-color2;
              }
              &:hover {
                &:before {
                  border-bottom: 2px solid $green-color2;
                }
              }
            }
          }
        }

        &__buttons {
          position: absolute;
          right: 5px;
          font-size: 12px;
          z-index: 999;
          color: $gray-color;

          .save-address {
            color: $green-color2;
            margin-right: 4px;
            cursor: pointer;
            &.disabled {
              color: gray !important;
              cursor: not-allowed;
            }
            &:hover {
              color: $green-color;
            }
          }
        }

        .flex {
          display: flex;
          &.right-aligned {
            justify-content: flex-end;
          }
          .form-field {
            margin-right: 20px;
          }
        }
      }

      &__submit-button {
        cursor: pointer;
        &:disabled {
          background-color: #f0f0f0;
        }
      }
    }
  }
}

.contact-select__input {
  width: 90%;
  margin: auto;
  outline: none !important;
  box-shadow: 0 !important;
  input {
    border: 0;
    outline: none !important;
    -webkit-box-shadow: 0 !important;
    box-shadow: 0 !important;
    font-size: 17px;
    line-height: 2;
    border-radius: 5px;
    background-color: rgba(181, 189, 194, 0.15);
    width: 100%;
  }
}
