$background-color: #f5f7fa;
$header-left-color: #2baffc;
$header-right-color: #34b8f4;
$light-text-color: #818181;
$date-box-border-color: #bebebe;
$secondary-background-color: #fafafa;
$text-color: #1b2538;
$grey-text-color: #555;
$border-color: #98a0a5;
$light-border-color: #ebedf0;
$lighter-border-color: #D3D9DC;
$light-hover-color: #e8f7fd;
$green-hover-color: rgba(5,206,182,0.2);
$passive-color: $border-color;
$active-color: #1B9FE9;
$active-hover-color: #79c1e8;
$disabled-background-color: #eeeeee;
$passive-background-color: $secondary-background-color;
$red: #ee4266;
$red-button-hover-color: #a02c49;
$green: #05ceb6;
$grey: #bebebe;
$green-hover: #00a08d;
$blue: #2caffc;
$blue-hover: #007fc8;
$dashboard-booking: #86d2ff;
$dashboard-transit: #0596e9;
$title-blue-color:#1b9fe9;
$progress-color: $header-right-color;
$incomplete-node-icon-color: #a6c9ed;
$disabled-node-icon-color: #b6bfc4;
$blue-button-hover-color: #006FAF;
$green-button-hover-color: #00a08d;
$grey-outline-button-hover-color: #e8f7fd;
$grey-outline-button-hover-text-color: #0596e9;
$grey-outline-button-hover-text-color: #0596e9;
$grey-text-color: #818181;
$grey-background-text-color: #dddddd;

$light-green-hover-color: #d2f5f0;
$light-green-hover-text-color: #00a08d;

$main-font-family: "Exo 2", sans-serif;
$icon-font-family: 'Shypple4';
$title-font-family: 'Big Noodle Titling'
