@import "../../assets/styles/theme";
@import "../../assets/styles/mediaSettings";

.form-field-group{
  display: flex;
  font-family: $main-font-family;
  width: 60%;
  align-items: stretch;
  margin-bottom: 0.75rem;


  &__label{
    min-width: 33%;
    text-align: right;
    padding: 0.5rem 1rem;
    font-weight: bold;
    font-size: 0.8rem;

    @media screen and (max-width: $mobile-screen-width){
      text-align: left;
      padding: 0 1rem;
    }
  }

  &__content{
    min-width: 66%;
    display: flex;
    padding: 0 1rem;

    &_align-center{
      justify-content: center;
    }

    &_align-right{
      justify-content: flex-start;
    }

    &_align-left{
      justify-content: flex-end;
    }
  }

  @media screen and (max-width: $mobile-screen-width){
    width: 100%;
    flex-direction: column;
  }
}